/* styles.css */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.dashboard {
  display: flex;
  height: 100vh; /* full viewport height */
}

/* .chart-area {
  flex: 1;
  height: 100%;
} */

.gutter {
  background-color: #334155; 
  background-clip: padding-box;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter:hover {
  background-color: #64748b; 
}
